{% load static %}

<section class="page-section bg-light" id="inspiration">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Inspiration</h2>
                    <h3 class="section-subheading text-muted">.</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 1-->
                        <div class="portfolio-item">
                            <a href="https://www.aelf.org/bible" target="_blank" >
                                <img class="img-fluid" src="{% static 'pictures/bible_lumiere.png'%}" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">La Bible</div>
                                <div class="portfolio-caption-subheading text-muted">Parole de Dieu</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 1-->
                        <div class="portfolio-item">
                            <a href="https://www.vatican.va/content/vatican/fr.html" target="_blank">
                                <img class="img-fluid" src="{% static 'pictures/pape_francois.jpeg'%}" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">2000 ans de foi de l'Eglise catholique</div>
                                <div class="portfolio-caption-subheading text-muted">La Tradition</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 1-->
                        <div class="portfolio-item">
                            <a href="https://www.vannes.catholique.fr/"  target="_blank" >
                                <img class="img-fluid" src="{% static 'pictures/cathedrale_vannes.jpeg'%}" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Eglise catholique - Vannes</div>
                                <div class="portfolio-caption-subheading text-muted">Eglise Saint Pie X</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                        <!-- Portfolio item 4-->
                        <div class="portfolio-item">
                            <a  href="https://emmanuel.info/" target="_blank" >

                                <img class="img-fluid" src="{% static 'pictures/communaute_emmanuel.jpg' %}" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Communauté de l'Emmanuel</div>
                                <div class="portfolio-caption-subheading text-muted">Branding</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a  href="https://polemission.fr" target="_blank" >
                                <img class="img-fluid" src="{% static 'pictures/pole_mission.avif' %}" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Pôle mission de Paris</div>
                                <div class="portfolio-caption-subheading text-muted">P. Etienne Grenet</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 3-->
                        <div class="portfolio-item">
                            <a href="https://saddleback.com/about/" target="_blank" >
                                <img class="img-fluid" src="{% static 'pictures/rick-warren-writeup.jpg' %}" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Rick Warren - Evangélique</div>
                                <div class="portfolio-caption-subheading text-muted">A purpose-driven Church</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                        <!-- Portfolio item 5-->
                        <div class="portfolio-item">
                            <a  href="https://fr.encounterschool.org/ " target="_blank" >
                                <img class="img-fluid" src="{% static 'pictures/encounter.jpg' %}" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Encounter</div>
                                <div class="portfolio-caption-subheading text-muted">Ecole de charismes</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                        <!-- Portfolio item 5-->
                        <div class="portfolio-item">
                            <a href="https://fr.wikipedia.org/wiki/Socrate"  target="_blank" >
                                <img class="img-fluid" src="{% static 'pictures/socrate.jpg' %}" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Socrate</div>
                                <div class="portfolio-caption-subheading text-muted">Philosophe grec qui allait à la rencontre</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
