{% load static %}

        <section class="page-section bg-light" id="meet">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Rencontres</h2>
                    <h3 class="section-subheading text-muted">La joie de la rencontre spontanée, comme un cadeau</h3>
                </div>
                <ul class="timeline">
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'pictures/port_vannes.jpg' %}" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Port de Vannes</h4>
                                <h4 class="subheading"></h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Matins</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'pictures/soif.jpg' %}" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Déjeuner à la maison</h4>
                                <h4 class="subheading"></h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Une bonne bouffe qu'on prépare et partage ensemble</p></div>
                        </div>
                    </li>
                     <li class="timeline-image">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'pictures/rando.jpg' %}" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Samedi</h4>
                                <h4 class="subheading">Marche en nature</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">En bord de mer, cheminer devant la beauté du monde</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'pictures/louange_croix.jpg' %}" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Dimanche</h4>
                                <h4 class="subheading">Chanter et louer ensemble</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">A la maison</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>
                                Be Part
                                <br />
                                Of Jesus
                                <br />
                                Story!
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </section>